* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #e9e9e9;
}

header {
    background-color: #333;
    padding: 20px 0;
}

.header-menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 40px;
}

.header-menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.header-menu a:hover {
    color: #747373;
}

.description-main, h1, p {
    padding: 15px 10px;
}

.content {
    flex: 1;
    text-align: center;
    padding: 20px;
}

img {
    width: 235px;
    height: 100px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.contact-card {
    width: 500px;
    margin: 0 auto;
    background: white;
    padding: 40px;
    border-radius: 10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 10px;
}

.contact-form input, .contact-form textarea {
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form textarea {
    height: 120px;
    resize: none;
}

.contact-form button {
    width: 100px;
    margin: 0 auto;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.success-message {
    padding: 20px;
    color: green;
    font-weight: bold;
    text-align: center;
}

.current-time {
    padding: 50px;
}