<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Agent</title>

    <!-- Подключаем Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

    <div class="container mt-5">
        <h1 class="text-center">Edit Agent</h1>

        <div class="card shadow p-4">
            <form method="POST">
                <div class="mb-3">
                    <label for="nickname" class="form-label">Nickname:</label>
                    <input
                        type="text"
                        id="nickname"
                        name="nickname"
                        class="form-control"
                        value="{{ agent.nickname }}"
                        required
                    >
                </div>
                </div>
                <div class="mb-3">
                    <label for="number" class="form-label">number:</label>
                    <input type="text" id="number" name="number" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">email:</label>
                    <input type="text" id="email" name="email" class="form-control" required>
                </div>
                <div>Access lvl:
                    <input type="radio" name="access_level" id="access-lvl1" value="1" required>
                    <label for="access-lvl1">1</label>
                    <input type="radio" name="access_level" id="access-lvl2" value="2">
                    <label for="access-lvl2">2</label>
                    <input type="radio" name="access_level" id="access-lvl3" value="3">
                    <label for="access-lvl3">3</label>
                </div>

                <button type="submit" class="btn btn-primary w-100">
                    Update Agent Info
                </button>
            </form>
        </div>

        <div class="text-center mt-4">
            <a href="{{ url_for('agents_list') }}" class="btn btn-secondary">
                Back to Agents List
            </a>
        </div>
    </div>

</body>
</html>